body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: 'Inter', sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}

p1 {
    font-size: 30px;
}

.intro {
    padding: 15px;
    text-align: justify;
    max-width: 800px;
}

.profile-image {
    width: 320px;
    max-height: 320px;
    margin-inline-end: 4rem;
    border-radius: 15rem;
    padding: 25px;
    animation: frame 5s linear;
}

@keyframes frame{
    0%{
        transform: scale(.9);
        opacity: 0;
    }
    20%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.bio {
    display: flex
}

@media (max-width:1024px){
    .bio {
        flex-direction: column;
        align-items: center;
    }
}

.button {
    text-decoration: none;
    color:rgb(252, 252, 255);
    background: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

.button:hover {background-color: #171f8d}

.article-image {
    max-width: 320px;
    align-items: center;
    border-radius: 4rem;
    padding: 1rem;
}

article {
    display: flex;
}

@media (max-width: 1024px) {
    article {
        flex-direction: column;
        align-items: center;
    }
    .article-image {
        width: 100%;
        align-items: center;
    }
}

